.container {
    display: flex;
    gap: 7px;
    color: var(--color-5);
    font-size: 12px;
    font-weight: 400;
}

.stars {
    display: flex;
    gap: 2px
}

.checked {
    color: var(--color-11);
}

.unchecked {
    color: var(--color-5);
}