.cart {
    box-shadow: var(--shadow-3);
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 15px 0;
    gap: 10px;
    position: relative;
    min-width: 390px;
}

.cart::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 50px;
    height: 20px;
    width: 20px;
    transform:translateY(-50%) rotateZ(45deg);
    box-shadow: var(--shadow-3);
}

.title {
    color: var(--color-7);
    font-size: 18px;
    font-weight: 600; 
}

.subTitle {
    color: var(--color-5);
    font-size: 12px;
    font-weight: 400;
}

.productsList {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
}

.productsList::-webkit-scrollbar {
    width: 8px;
}
  
.productsList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.productsList::-webkit-scrollbar-track {
background-color: #f1f1f1;
border-radius: 6px; 
}

.productsList::-webkit-scrollbar-thumb:hover {
background-color: #555;
}

.productsList::-webkit-scrollbar-thumb:active {
background-color: #333;
  }

.product {
    border-top: 1px solid var(--color-5);
    padding:10px 25px;
}

.product:last-child {
    border-bottom: 1px solid var(--color-5);
}

.subTotal {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.subTotal > span:first-of-type {
    font-size: 14px;
    color: var(--color-5);
}

.subTotal > span:last-of-type {
    font-size: 18px;
    color: var(--color-7);
}

.container {
    width: calc(100% - 25px);
}