.card {
    background-color: var(--color-13);
    color: var(--color-7);
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.card:hover {
    filter: saturate(50%)
}

.card > span {
    padding: 5px 0
}

.img {
    width: 100%;
}