.card {
    background-color: var(--color-13);
    color: var(--color-7);
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.skeleton {
    border-radius: 5px;
    overflow: hidden;
}

.text {
    background-color: var(--color-13);
    padding: 5px 0;
}

.card:hover {
    filter: saturate(50%)
}

.card > span {
    padding: 5px 0
}

.img {
    width: 100%;
}

.skeletonImageContainer {
    position: relative;
}

.skeletonImageContainer > img {
    opacity: 0;
}

.imgSkeletonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}