:root {
  --color-1: #FFFFFF;
  --color-2: #0074BE;
  --color-3: #0156FF;
  --color-4: #01A4FF;
  --color-5: #A2A6B0;
  --color-6: #CACDD8;
  --color-7: #020202;
  --color-8: #C94D3F;
  --color-9: #78A962;
  --color-10: #666666;
  --color-11: #E9A426;
  --shadow-1: 0 0 200px 0 #00000023;
  --shadow-2: 0 4px 200px 0 #00000033;
  --shadow-3: 0 0 6px 0 #00000051;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  color: var(--color-7);
  background-color: var(--color-1);
}

button, a, select, option, li {
  cursor: pointer;
}

button, input, select {
  background-color: transparent;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  width: 1700px;
  margin: auto;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 1800px) {
  body {
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}