.filters {
    display: flex;
    justify-content: flex-end;
}

.filter { 
    font-size: 13px;
    font-weight: 600;
    color: var(--color-5);
    border: 2px solid var(--color-5);
    border-radius: 3px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 0 10px;
}

.filter select {
    color: var(--color-7);
    padding: 10px;
    padding-left: 0;
    font-size: 13px;
    font-weight: 600;
}   

.filter button {
    padding-top: 3px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination > div {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    width: fit-content;
}

.pageSelector {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-5);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-5);
    border-radius: 50%;
}

.pageSelector:not(.selected):hover {
    color: var(--color-7);
    border-color: var(--color-7);
}

.pageSelector.selected {
    background-color: var(--color-13);
    color: var(--color-7);
    border-color: var(--color-13)
}