.container {
    position: relative;
}

.popup {
    position: absolute;
    z-index:99999;
    right: -45px;
    bottom: -15px;
    transform: translateY(100%);
    display: block;
}

.popup.hiden {
    display: none;
}
