.container {
    position: relative;
}

.popup {
    display: block;
    position: absolute;
    z-index:99999;
    right: -10px;
    bottom: -15px;
    transform: translateY(100%);
}

.popup::after {
    content: '';
    position: absolute;
    top: 0;
    right: 18px;
    height: 13px;
    width: 13px;
    background-color: var(--color-1);
    transform:translateY(-45%) rotateZ(45deg);
}

.popup.hiden {
    display: none;
}

.desktopCart {
    width: 400px;
}

.desktopCart > div {
    max-height: 500px;
}

.exitBtnContainer {
    padding: 5px 10px;
}

.exitBtn {
    font-size: 25px;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--color-5);
    transition: .5s;
}

.exitBtn:hover {
    background-color: #6f6e6e3f;
    color: var(--color-7)
}


.miniCart {
    height: calc(100% - 40px);
    display: flex;
}

.popupContainer {
    background-color: var(--color-1);
    height: 100%;
}