.container {
    position: relative;
    height: 380px;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    transition: .6s;
    width: 100%;
}

.card:hover {
    width: 100%;
    box-shadow: var(--shadow-3);
    transform: translateY(-20px);
    position: absolute;
}

.actions {
    display: none;
    flex-direction: column;
    color: var(--color-5);
    gap: 5px;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 30px;
}

.img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 15px auto;
}

.prodName {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-7);
    margin: 10px 0;
}

.prevPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: var(--color-10);
}

.currPrice {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-7);
}

.addToCart {
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 10px;
    color: var(--color-3);
    font-weight: 600;
    font-size: 14;
    padding: 0 20px;
    border: 3px solid var(--color-3);
    border-radius: 50px;
    margin: 10px auto 0;
    height: 40px;
    animation: anim .5s linear;
}

.addToCart:hover {
    color:  var(--color-1);
    background-color: var(--color-3);
}

.addToCart > span {
    text-wrap: nowrap;
    user-select: none;
}

.card:hover .addToCart, .card:hover .actions{
    display: flex;
}

.skeletonContainer {
    width: 100%
}

.skeletonCard {
    padding: 25px 10px;
}

@keyframes anim {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}