.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: .5s;
}

.card:hover {
    transform: translateY(-20px);
    position: absolute;
}

.actions {
    display: none;
    flex-direction: column;
    color: #A2A6B0;
    gap: 5px;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 30px;
}

.action {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #A2A6B0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 600;
    transition: .3s;
}

.action:hover {
    color: white;
    background-color: #A2A6B0;
}

.img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 15px auto;
}

.prodName {
    font-weight: 400;
    font-size: 13px;
    color: #000;
    margin: 10px 0;
}

.prevPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: #666666;
}

.currPrice {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.addToCart {
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 10px;
    color: #0156FF;
    font-weight: 600;
    font-size: 14;
    padding: 0 20px;
    border: 3px solid #0156FF;
    border-radius: 50px;
    margin: 10px auto 0;
    height: 40px;
    animation: anim .5s linear;
}

.addToCart:hover {
    color: white;
    background-color: #0156FF;
}

.card:hover .addToCart, .card:hover .actions{
    display: flex;
}

@keyframes anim {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}