.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-13);
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.link {
    padding: 10px 20px;
    background-color: var(--color-1);
    border: 1px solid var(--color-5);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    cursor: pointer;
}

.arrow {
    font-size: 20px;
}

.link:hover .arrow {
    animation: animateArrow 1s alternate infinite;
}

@keyframes animateArrow {
    100% {
        transform: translateX(10px);
    }
}

.image {
    height: 400px;
}

@media only screen and (max-width: 768px) {
    .container, .image {
        height: 300px;
    }
    .image, .links {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .image {
        z-index: 1;
    }
    .links {
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .link {
        background-color: #cececea1;
    }
}