.topSection {
    border-bottom: 1px solid var(--color-5);
    padding: 6px 0;
}

.topSection > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContent {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 180px;
    background-color: var(--color-13);
}

.selectedSection {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.navigator {
    font-size: 10px;
}

.mobileContainer {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.mobileContainer > div {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .mainContent {
        gap: 30px;
    }
}