.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navContainer {
    font-size: 20px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.processes {
    display: flex;
    align-items: center;
}