.section, .form, .inputSection {
    display: flex;
    flex-direction: column;
}

.section {
    gap: 15px;
    padding: 30px;
    background-color: var(--color-13);
    border-radius: 10px;
    min-width: 270px;
    height: fit-content;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
}

.desc {
    font-size: 14px;
    font-weight: 300;
}

.form {
    gap: 25px;
    margin: 10px 0;
}

.btnContainer {
    width: fit-content;
}

.ul > li {
    font-size: 16px;
    margin: 10px 0;
    margin-left: 20px;
    position: relative;
}

.ul > li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-7);
}