.form {
    flex: 1;
    display: flex;
    height: fit-content;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--color-1);
    border-radius: 20px;
    padding: 0 10px
}

.input { 
    flex: 1;
    padding: 7px;
    border-right: 1px solid var(--color-6);
}

.select {
    height: 100%;
    margin: 0 5px;
}

.btn {
    margin: 0 5px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}