.prodImage {
    width: 50px;
}

.prodName {
    font-size: 14px;
    font-weight: 400;
    max-width: 250px;
    text-align: start;
}

.flxBx {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px
}

.td {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

.qty {
    width: 60px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #d9d9d981;
    padding-left: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 768px) {
    .flxBx {
        flex-direction: column;
        gap: 5px
    }
    .prodImage {
        width: 30px;
    }
    .prodName {
        font-size: 11px;
        max-width: 100px;
    }
    .td {
        padding: 5px;
        font-size: 11px;
    }
    .qty {
        width: 30px;
        font-size: 11px;
    }
}
