.card {
    display: flex;
    align-items: center;
    gap: 20px
}

.cnt {
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 600;
    width: 25px;
}

.img {
    width: 40px;
}

.prodName {
    width: 200px;
    font-size: 13px;
    font-weight: 400;
}

.actions {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 5px;
}

