.header {
    width: 100%
}

.topHeader, .bottomHeader {
    display: flex;
    align-items: center;
    gap: 35px;
}

.topHeader {
    background-color: var(--color-1);
    color: var(--color-7);
    padding: 5px 0 10px;
}

.logo {
    cursor: pointer;
    width: 100px;
}

.actions {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottomHeader {
    height: 35px;
    padding: 0 50px;
    color: var(--color-1);
    background-color: var(--color-2);
}
.catSelect {
    margin-top: -8px;
}

.options {
    height: fit-content;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.option {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 13px;
    font-weight: 600;
    position: relative;
}

.option .icon {
    font-size: 18px;
}

.option::before {
    content: '';
    height: 3px;
    background-color: var(--color-1);
    width: 0;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: .5s;
}

.option:hover::before{
    width: 100%;
}