.container {
    position: relative;
    background-color: #3a3f00;
    border-radius: 15px;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-1);
    height: 42px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn .icon {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.thumbnail {
    width: 45px;
    border-radius: 5px;
}

.menuContainer {
    position: absolute;
    z-index: 9999;
    top: 42px;
}

.menu {
    position: relative;
    margin-top: 2px;
    padding: 10px 0;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.menu > li {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: var(--color-1);
    padding: 8px 10px;
}

.menu > li > div {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: rgb(48, 48, 48);
    min-height: 360px;
    padding: 20px;
    display: none;
}

.subCategories {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.menu > li:hover {
    background-color: rgb(105, 105, 105);
}

.menu > li:hover > div {
    display: block;
}