.container {
    position: relative;
}

.btn {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.icon, .chevron {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.chevron {
    font-size: 13px;
}

.thumbnail {
    width: 45px;
    border-radius: 5px;
}

.menuContainer {
    position: absolute;
    z-index: 9999;
    top: 40px;
}

.menu {
    position: relative;
    padding: 10px 0;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.menu > li {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: var(--color-1);
    padding: 8px 10px;
}

.menu > li .block {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: rgb(48, 48, 48);
    min-height: 360px;
    padding: 20px;
    display: none;
}

.subCategories {
    width: 420px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

.menu > li:hover {
    background-color: rgb(105, 105, 105);
}

.menu > li:hover .block {
    display: block;
}

.sidebarContainer {
    background-color: var(--color-1);
    min-height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.head {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px 0
}

.head button {
    font-size: 25px;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--color-5);
    transition: .5s;
}

.head button:hover {
    background-color: #6f6e6e3f;
    color: var(--color-7)
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-1);
}

.categoriesList{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 10px 0;
}

.categoryListContainer {
    border: 1px solid var(--color-5);
    border-radius: 5px;
    padding: 7px 10px
}

.categoryListContainer .selector {
    display: flex;
    justify-content: space-between;
}

.subCategoriesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 10px 20px;
}

.subCategoriesList > li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subCategoriesList > li:hover {
    background-color: #eee;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.links {
    height: fit-content;
    width: fit-content;
    padding: 10px 0;
}

.inlineCatSekeleton {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}