.container {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.flxBx {
    display: flex;
    gap: 15px;
    align-items: center;
}

.vFlxBx {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-14);
    padding: 5px 0;
    border-bottom: 1px solid var(--color-6);
    margin-bottom: 20px;
}

.sectionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
}

.sectionContainer > h4 {
    font-size: 16px;
}

.sectionContainer > * {
    margin: 7px;
}

.sectionContainer > h4 {
    font-weight: 600;
}

.centerChildren {
    flex: 1;
    display: flex;
    align-items: center;
}

.link {
    cursor: pointer;
    color: var(--color-3);
    text-decoration: underline;
    text-decoration-color: var(--color-3);
    font-size: 16px;
    font-weight: 300;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    padding: 10px 0;
}

.table  tr {
    border-bottom: 1px solid var(--color-5)
}

.table td {
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.btnContainer {
    width: fit-content;
    margin: 20px 0 20px auto
}

.form > div {
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
}

.form > div > div {
    flex: 1
}

.inputGroups {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.inputGroup {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 5px;
}

.inputGroup > span.required::after {
    content: '*';
    margin-left: 5px;
    color: var(--color-8);
}

.inputGroup > input {
    border: 1px solid var(--color-5);
    padding: 5px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.info {
    display: flex;
    font-size: 16px;
}

.info > span:first-child {
    width: 120px;
    font-weight: 600;
    justify-self: end;
}

.list {
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px
}